@import url('https://fonts.googleapis.com/css?family=Raleway:200,400')

body {
background-color: #fefbf7;
}
h1 {
color: #8b8378
font-family: 'Raleway';
font-size: 20px;
font-style: normal;
font-weight: 300;
}

p {
color: #838b8b
font-family: 'Raleway';
font-size: 16px;
font-style: normal;
font-weight: 200;
}
